#map{
    position: relative;
    border-style: solid;
    height: 680px;

}

/*estilo para el titulo*/
h1{
    color:darkblue;
    font-family: Verdana;
    text-align: center;    
    font-size: 20px;       /* Ajusta el tamaño de la letra */
    margin: 2px 0;        /* Reduce el espacio arriba y abajo del título */
    line-height: 1.2;      /* Ajusta el espacio entre líneas si el título tiene varias */

}

/*formato para lista desplegable*/
select{
    margin-bottom: 10px;
    margin-left: 10px;
}

/*posicion para lista desplegable*/
#select-country {
    position: absolute;
    top: 50px;      /* distancia desde la parte superior */
    left: 1200px;     /* distancia desde la izquierda */
    z-index: 1000;  /* asegura que esté encima del mapa */
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
